<!-- Modal de centros culturales -->
<div
  class="modal fade"
  id="invertiCultura"
  tabindex="-1"
  aria-labelledby="invertiCultura"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invertiCultura">InvertiCultura</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Centros Culturales -->
        <section id="invertiCultura">
          <h2>InvertiCultura</h2>
          <div class="row justify-content-center flex-wrap">
            <!-- 1. Agente cultural San Miguel -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/2LAC.PNG"
                  class="card-img-top"
                  alt="Escuela Popular Mano Abierta 
"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Escuela Popular Mano Abierta 
 </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#EscuelaPopularManoAbiertaInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 1. Agente cultural San Miguel -->

            <!-- 2. Agente cultural Reinaldo Castro -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/3LAC.PNG"
                  class="card-img-top"
                  alt="ReinaldoCastro 
"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Reinaldo Castro 
 </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#ReinaldoCastroInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 2. Agente cultural Reinaldo Castro -->

                <!-- 6. Agente cultural Topas Insurrectas -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/6LAC.PNG"
                  class="card-img-top"
                  alt="Topas Insurrectas"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Topas Insurrectas </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#TopasInsurrectasInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 6. Agente cultural Topas Insurrectas  -->

            <!-- 7. Agente cultural lukasiarte -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/7LAC.PNG"
                  class="card-img-top"
                  alt="lukasiarte"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> lukasiarte </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#lukasiarteInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 7. Agente cultural lukasiarte  -->

            <!-- 8. Agente cultural Huerta Comunitaria Angelita -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/8LAC.PNG"
                  class="card-img-top"
                  alt="Huerta Comunitaria Angelita"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Huerta Comunitaria Angelita </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#HuertaComunitariaAngelitaInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 8. Agente cultural Huerta Comunitaria Angelita  -->

             <!-- 9. Agente cultural ALEX SKYWALKER -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/9LAC.PNG"
                  class="card-img-top"
                  alt="ALEX SKYWALKER"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> ALEX SKYWALKER </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#ALEXSKYWALKERInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 9. Agente cultural ALEX SKYWALKER -->

            <!-- 11. Agente cultural Oneiros Laboratorio -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/11LAC.PNG"
                  class="card-img-top"
                  alt="Oneiros Laboratorio"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Oneiros Laboratorio </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#OneirosLaboratorioInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 11. Agente cultural Oneiros Laboratorio -->

             <!-- 19. Agente cultural Daniel Poveda -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/19LAC.PNG"
                  class="card-img-top"
                  alt="Daniel Poveda"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Daniel Poveda </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#DanielPovedaInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 19. Agente cultural Daniel Poveda -->

            <!-- 24. Agente cultural Fundación Armonía Diversa -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/24LAC.PNG"
                  class="card-img-top"
                  alt="Fundación Armonía Diversa"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Fundación Armonía Diversa </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#FundacionArmoniaDiversaInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 24. Agente cultural Fundación Armonía Diversa -->

             <!-- 25. Agente cultural Al son de pacho -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/25LAC.PNG"
                  class="card-img-top"
                  alt="Al son de pacho"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Al son de pacho </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#AlsondepachoInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 25. Agente cultural Al son de pacho -->

            <!-- 26. Agente cultural Eddy Griot -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/26LAC.PNG"
                  class="card-img-top"
                  alt="Eddy Griot"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Eddy Griot </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#EddyGriotInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 26. Agente cultural Eddy Griot -->

             <!-- 27. Agente cultural La Catarina -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/27LAC.PNG"
                  class="card-img-top"
                  alt="La Catarina"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> La Catarina </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#LaCatarinaInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 27. Fin Agente cultural La Catarina -->

              <!-- 28. Agente cultural Dance Studio MR -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/28LAC.PNG"
                  class="card-img-top"
                  alt="Dance Studio MR"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Dance Studio MR </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#DanceStudioMRInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 28. Fin Agente cultural Dance Studio MR -->

              <!-- 30. Agente cultural  Las Felices Danzas de mi País -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/30LAC.PNG"
                  class="card-img-top"
                  alt=" Las Felices Danzas de mi País"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#">  Las Felices Danzas de mi País </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#LasFelicesDanzasdemiPaisInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 30. Fin Agente cultural  Las Felices Danzas de mi País -->

             <!-- 31. Agente cultural  SAW-WAG Colombia -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/31LAC.PNG"
                  class="card-img-top"
                  alt=" SAW-WAG Colombia"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#">  SAW-WAG Colombia </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#SAW-WAGColombiaInvertiCultura"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 31. Fin Agente cultural  SAW-WAG Colombia -->
          </div>
        </section>
        <!-- Fin de la sección de centros culturales -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Final del modal de centros culturales -->

<app-productos-servicios-por-cada-frente></app-productos-servicios-por-cada-frente>
