  <!-- Modal de centros culturales -->
  <div class="modal fade " id="videosEscenarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Galería Audiovisual</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Centros Culturales -->
          <section id="centrosCulturales">

            <div class="row justify-content-center flex-wrap">
             
              <!-- 11. agente cultural Oneiros Laboratorio-->
           <div class="card">
                <a href="#">
                  <img src="../../assets/images/agentesCulturales/OneirosLaboratorio/IMAGOTIPOONEIROS-OneirosLaboratorio.jpg"
                    class="card-img-top" alt="oneiroslaboratorio">
                </a>

                <div class="card-body d-flex justify-content-between align-items-center flex-column">
                  <h5 href="#">
                   Oneiros Laboratorio</h5>
                 <h6>Nuestras obras en youtube </h6>
                 <a href="https://www.youtube.com/channel/UCikiouJ3SRhadGADRgQ6p0Q/featured" target="_blank">Click aquí</a>
                </div>
              </div>
              <!-- 11. Fin del agente cultural Oneiros laboratorio -->
              

            
              
            </div>
          </section>
          <!-- Fin de la sección de centros culturales -->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Final del modal de centros culturales -->
