  <!-- Modal de centros culturales -->
  <div class="modal fade " id="videosEscenarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Galería Audiovisual</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Centros Culturales -->
          <section id="centrosCulturales">

            <div class="row justify-content-center flex-wrap">
             
              <!-- Video de Medios de Comunicación -->
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                 <iframe src="https://www.youtube.com/embed/GrDHCxXF318" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <h5 class="card-title">Medios de Comunicación</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Videos y escenarios relacionados a los Medios de
                    Comunicación</h6>
                </div>
              </div>
              <!-- Fin del video Escuela Popular Mano Abierta -->

            
              
            </div>
          </section>
          <!-- Fin de la sección de centros culturales -->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Final del modal de centros culturales -->
