<!-- Modal de centros culturales -->
<div
  class="modal fade"
  id="videosEscenarios"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Galería Audiovisual</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Centros Culturales -->
        <section id="centrosCulturales">
          <div class="row justify-content-center flex-wrap">
            <!-- 1. agente cultural San Miguel Studios-->
            <div class="card">
              <iframe
                width="250"
                src="https://www.youtube.com/embed/msbUIMVLNNw"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>

              <div
                class="card-body d-flex justify-content-between align-items-center flex-column"
              >
                <h5 href="#">San Miguel Studios</h5>
                <br />

                <h6>Obra</h6>
                <a
                  href="https://www.youtube.com/watch?v=msbUIMVLNNw&t=2s
"
                  target="_blank"
                  >Click aquí</a
                >
              </div>
            </div>
            <!-- 1. Fin del agente cultural San Miguel Studios -->

            <!-- 2. agente cultural Oneiros Laboratorio-->
            <div class="card">
              <iframe
                width="250"
                src="https://www.youtube.com/embed/0CL68XBYm1E"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>

              <div
                class="card-body d-flex justify-content-between align-items-center flex-column"
              >
                <h5 href="#">Oneiros Laboratorio</h5>
                <br />
                <h6>Canal de Youtube</h6>
                <a
                  href="https://www.youtube.com/channel/UCikiouJ3SRhadGADRgQ6p0Q/featured"
                  target="_blank"
                  >Click aquí</a
                >
              </div>
            </div>
            <!-- 2. Fin del agente cultural Oneiros laboratorio -->

            <!-- 3. agente cultural Colectivo Suba Nativa -->
            <div class="card">
              <iframe
                width="250"
                src="https://www.youtube.com/embed/EI-cur3EpzI"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>

              <div
                class="card-body d-flex justify-content-between align-items-center flex-column"
              >
                <h5 href="#">Colectivo Suba Nativa
</h5>
                <br />
                <h6>Canal de Youtube</h6>
                <a
                  href="https://www.youtube.com/channel/UCxZdRWGvXY4S3bZ2X3zOdlA
"
                  target="_blank"
                  >Click aquí</a>
              </div>
            </div>
            <!-- 3. Fin del agente cultural Colectivo Suba Nativa -->

             <!-- 4. agente cultural Fundación Armonía Diversa -->
            <div class="card">
              <iframe width="250" src="https://www.youtube.com/embed/iV8q0rJneqA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div
                class="card-body d-flex justify-content-between align-items-center flex-column"
              >
                <h5 href="#">Fundación Armonía Diversa

</h5>
                <br />
                <h6>Nota Canal Capital</h6>
                <a
                  href="https://www.youtube.com/watch?v=iV8q0rJneqA&feature=youtu.be"
                  target="_blank"
                  >Click aquí</a>
              </div>
            </div>
            <!-- 4. Fin del agente cultural Fundación Armonía Diversa -->

                <!-- 5. agente cultural Eddy Griot -->
            <div class="card">
              <iframe width="250" src="https://www.youtube.com/embed/6wdy3Pc-dN4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div
                class="card-body d-flex justify-content-between align-items-center flex-column"
              >
                <h5 href="#">Eddy Griot</h5>
                <br />
                <h6>Canal de youtube</h6>
                <a
                  href="https://www.youtube.com/channel/UCLHzcWZ7p4DlHT4dBITnM5Q"
                  target="_blank"
                  >Click aquí</a>
              </div>
            </div>
            <!-- 5. Fin del agente cultural Eddy Griot -->
            <!-- 6. agente cultural Dance Studio MR -->
            <div class="card">
             <iframe width="250" src="https://www.youtube.com/embed/FoC13N2je_A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div
                class="card-body d-flex justify-content-between align-items-center flex-column"
              >
                <h5 href="#">Dance Studio MR</h5>
                <br />
                <h6>Canal de youtube</h6>
                <a
                  href="https://www.youtube.com/channel/UCSY4vv-_G2-u5wej6K2GT3A?view_as=subscriber"
                  target="_blank"
                  >Click aquí</a>
              </div>
            </div>
            <!-- 6. Fin del agente cultural Dance Studio MR -->

             <!-- 7. agente cultural Festival Suba de Antaño -->
            <div class="card">
             <iframe width="250" src="https://www.youtube.com/embed/tMGsIyu4_M0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div
                class="card-body d-flex justify-content-between align-items-center flex-column"
              >
                <h5 href="#">Festival Suba de Antaño</h5>
                <br />
                <h6>Canal de youtube</h6>
                <a
                  href="https://www.youtube.com/channel/UCvooFKEYOp-6n29DkvIGluQ" target="_blank"
                  >Click aquí</a>
              </div>
            </div>
            <!-- 7. Fin del agente cultural Festival Suba de Antaño -->

              <!-- 8. agente cultural SAW WAG COLOMBIA -->
            <div class="card">
            <iframe width="250" src="https://www.youtube.com/embed/XjjyOrDg1zA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div
                class="card-body d-flex justify-content-between align-items-center flex-column"
              >
                <h5 href="#">SAW WAG COLOMBIA</h5>
                <br />
                <h6>Canal de youtube</h6>
                <a
                  href="https://www.youtube.com/channel/UCMZ4znC3zz8EkKPeXHBvaRA" target="_blank"
                  >Click aquí</a>
              </div>
            </div>
            <!-- 8. Fin del agente cultural SAW WAG COLOMBIA -->

              <!-- 9. agente cultural The Endurance Music -->
            <div class="card">
            <iframe width="250" src="https://www.youtube.com/embed/obRTSx4qFLI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div
                class="card-body d-flex justify-content-between align-items-center flex-column"
              >
                <h5 href="#">The Endurance Music</h5>
                <br />
                <h6>Canal de youtube</h6>
                <a
                  href="https://www.youtube.com/channel/UCgnDEYm6IhS3eJWwu7lx-6Q/featured" target="_blank"
                  >Click aquí</a>
              </div>
            </div>
            <!-- 9. Fin del agente cultural The Endurance Music -->
          </div>
        </section>
        <!-- Fin de la sección de centros culturales -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Final del modal de centros culturales -->
