.card {
    box-shadow: 5px 5px 20px;
    cursor: pointer;
    width: 220px;
    height: 200px;
    transition: transform 1s;
    margin: 30px;
}
.card:hover {
    transform: scale(1.3);
}
.card-body{
    background-color: #F4C178;
}
.card-body a {
    text-decoration: none;
    color: #7A3E48;
    font-family: 'Lato';

}
.card img {
    width: 220px;
    height: 150px;
    max-width: 100%;

}
.card-img-top{
    max-width: 100%;
}