<!-- Modal de centros culturales -->
<div
  class="modal fade"
  id="centrosCulturalesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agentes Culturales</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Centros Culturales -->
        <section id="centrosCulturales">
          <h2>Agentes Culturales</h2>
          <div class="row justify-content-center flex-wrap">
            <!-- 1. Agente cultural San Miguel -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/1LAC.PNG"
                  class="card-img-top"
                  alt="sanMiguelStudio"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> SANMIGUEL ESTUDIOS </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#sanMiguelStudios"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 1. Agente cultural San Miguel -->

            <!-- 2. Agente Cultural Escuela Popular Mano Abierta -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/2LAC.PNG"
                  class="card-img-top"
                  alt="EscuelaPopularManoAbiertaModificada"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Escuela Popular Mano Abierta </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#EscuelaPopularManoAbierta"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 2. Fin del agente cultural Escuela Popular Mano Abierta -->

            <!-- 3. Agente Cultural Reinaldo Castro -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/3LAC.PNG"
                  class="card-img-top"
                  alt="..."
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Reinaldo Castro </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#ReinaldoCastro"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 3. Fin del agente cultural Reinaldo Castro -->

            <!-- 4. Agente Cultural Andres Julian Alvarez Bernal -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/4LAC.PNG"
                  class="card-img-top"
                  alt="..."
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Ruido Sonoro </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#AndresJulianAlvarezBernal"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 4. Fin del agente cultural Andres Julian Alvarez Bernal -->

            <!-- 5. Agente Cultural Colectivo QuiZaZ -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/5LAC.PNG"
                  class="card-img-top"
                  alt="..."
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Colectivo QuiZaZ </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#ColectivoQuizaz"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 5. Fin del agente cultural Colectivo Quizaz -->

            <!-- 6. Agente Cultural Topas Insurrectas -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/6LAC.PNG"
                  class="card-img-top"
                  alt="..."
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Topas Insurrectas </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#TopasInsurrectas"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 6. Fin del agente cultural Topas Insurrectas -->

            <!-- 7. Agente Cultural Lukasiarte -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/7LAC.PNG"
                  class="card-img-top"
                  alt="..."
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Lukasiarte </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#Lukasiarte"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 7. Fin del agente cultural Lukasiarte -->

            <!-- 8. Agente Cultural Huerta Comunitaria Angelita -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/8LAC.PNG"
                  class="card-img-top"
                  alt="..."
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Huerta Comunitaria Angelita </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#HuertaComunitariaAngelita"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 8. Fin del agente cultural Huerta Comunitaria Angelita -->

            <!-- 9. Agente Cultural ALEX SKYWALKER -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/9LAC.PNG"
                  class="card-img-top"
                  alt="..."
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> ALEX SKYWALKER </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#ALEXSKYWALKER"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 9. Fin del agente cultural ALEX SKYWALKER -->

            <!-- 10. Agente Cultural Federación Uno A -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/10LAC.PNG"
                  class="card-img-top"
                  alt="..."
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Federación Uno A </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#FederacionUnoA"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 10. Fin del agente cultural Federación Uno A -->

            <!-- 11. Agente Cultural Oneiros Laboratio -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/11LAC.PNG"
                  class="card-img-top"
                  alt="oneiroslaboratorio"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Oneiros Laboratorio </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#OneirosLaboratorio"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 11. Fin del agente cultural Oneiros laboratorio -->
            
            <!-- 12. Agente Cultural Tejedores de vida -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/12LAC.PNG"
                  class="card-img-top"
                  alt="tejedoresDeVida"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Tejedores de Vida </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#tejedoresDeVida"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 12. Fin del agente cultural Tejedores de vida -->

              <!-- 13. Agente Cultural Daniel Arismendi -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/danielArismendi/danielArismendi.jpeg"
                  class="card-img-top"
                  alt="danielArismendi"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Daniel Arismendi </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#danielArismendi"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 13. Fin del agente cultural Daniel Arismendi -->

            <!-- 14. Agente Cultural Fundación Actitud Colombia -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/14LAC.PNG"
                  class="card-img-top"
                  alt="FundacionActitudColombia"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Fundación Actitud Colombia </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#fundacionActitudColombia"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 14. Fin del agente cultural Fundación Actitud Colombia -->

             <!-- 15. Agente Cultural Biblioteca comunitaria El fuerte del viejo topo -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/15LAC.PNG"
                  class="card-img-top"
                  alt="#BibliotecaComunitariaElFuerteDelViejoTopo"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Biblioteca comunitaria El fuerte del viejo topo </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#BibliotecaComunitariaElFuerteDelViejoTopo"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 15. Fin del agente cultural Biblioteca comunitaria El fuerte del viejo topo -->

             <!-- 16. Agente Cultural Configurarte -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/16LAC.PNG"
                  class="card-img-top"
                  alt="#Configurarte"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> ConfigurArte </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#Configurarte"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 16. Fin del agente cultural Configurarte -->

             <!-- 17. Agente Cultural Agrupación Expresiones -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/17LAC.PNG"
                  class="card-img-top"
                  alt="#AgrupacionExpresiones"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Agrupación Expresiones </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#AgrupacionExpresiones"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 17. Fin del agente cultural Agrupación Expresiones -->

             <!-- 18. Agente Cultural Mesa local de artistas plásticos y visuales de Suba -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/18LAC.PNG"
                  class="card-img-top"
                  alt="#mesaLocalArtistas"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Mesa local de artistas plásticos y visuales de Suba </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#mesaLocalArtistas"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 18. Fin del agente cultural Mesa local de artistas plásticos y visuales de Suba -->

               <!-- 19. Agente Cultural Daniel Poveda -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/19LAC.PNG"
                  class="card-img-top"
                  alt="#danielPoveda"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Daniel Poveda </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#danielPoveda"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 19. Fin del agente cultural Daniel Poveda -->

               <!-- 20. Agente Cultural Colectivo Suba Nativa -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/20LAC.PNG"
                  class="card-img-top"
                  alt="#ColectivoSubaNativa"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Colectivo Suba Nativa </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#ColectivoSubaNativa"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 20. Fin del agente cultural Colectivo Suba Nativa -->

            <!-- 21. Agente Cultural Dj peace makah  -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/21LAC.PNG"
                  class="card-img-top"
                  alt="#Djpeacemakah"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Dj peace makah  </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#Djpeacemakah"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 21. Fin del agente cultural Dj peace makah  -->

             <!-- 22. Agente Cultural Colectivo In Situ  -->
            <div class="card">
              <a href="#">
                <img
                  src="../../assets/images/agentesCulturales/PortadaAgentesCulturales/22LAC.PNG"
                  class="card-img-top"
                  alt="#ColectivoInSitu"
                />
              </a>

              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <a href="#"> Colectivo In Situ </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#ColectivoInSitu"
                >
                  más info
                </button>
              </div>
            </div>
            <!-- 22. Fin del agente cultural Colectivo In Situ  -->
          </div>
        </section>
        <!-- Fin de la sección de centros culturales -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Final del modal de centros culturales -->

<app-modal-centro-cultural></app-modal-centro-cultural>
