<!-- 1. Modal del centro cultural San Miguel Studio -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='sanMiguelStudios'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SANMIGUEL STUDIOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/SanMiguel/TomasSanmiguelLogo.jpg" class="card-img-top"
              alt="ReinaldoCastro">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Música y Artes Visuales</h6>
              <p> Ubicado en suba, brinda servicios como la composición, grabación, mezcla y producción de diferentes
                géneros urbanos. Entre ellos el rap, trap, reguetón, drill, Air&b, Dembow, etc. Junto con la producción
                visual, hace de la producción un algo íntegro y muy completo. </p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.instagram.com/sanmiguelstudios/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <br><br>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3502157414</p>
              <h5>Correo Electrónico:</h5>
              <p>sanmiguelstudios@gmail.com</p>
              <h5>Dirección:</h5>
              <p>Carrera 147 No. 150 - 26</p>
            </div>
            <!-- <div class="videoCard">
              <h6>Producto o servicio</h6>
              <iframe  src="https://www.youtube.com/embed/2UXikyFocxQ" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
                
            </div> -->
           </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 1. Final del modal del centro cultural San Miguel Studio -->

<!-- 2. Agente Cultural Escuela Popular Mano Abierta -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='EscuelaPopularManoAbierta'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escuela Popular Mano Abierta
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/EscuelaPopularManoAbierta/EscuelaPopularManoAbiertaModificada.jpg"
              class="card-img-top" alt="EscuelaPopularManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Pedagogía, Música y Artes Visuales</h6>
              <p> La Escuela Popular Mano Abierta es una organización popular sin animo de lucro que busca enseñar a los
                jovenes sobre la cultura HIP HOP.
              </p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.facebook.com/Escuelapopularmanoabierta/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <br><br>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3058096419</p>
              <h5>Correo Electrónico:</h5>
              <p>escuelapopularmanoabierta@gmail.com</p>
              <h5>Dirección</h5>
              <p>Carrera 90 No. 135 b - 23<br>(Casa de juventud Diego Felipe Becerra)</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 2. Final del Agente Cultural Escuela Popular Mano Abierta -->

<!-- 3. Agente Cultural Reinaldo Castro -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='ReinaldoCastro'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reinaldo Castro
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/ReinaldoCastro/ReinaldoCastroLogoReinaldoCastroArtista.jpg"
              class="card-img-top" alt="ManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Artes Plásticas Visuales</h6>
              <p>Docente, Productor y Realizador de Arte. A partir de su obra proyecta generar sensibilidad, memoria e
                identidad.</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="http://www.reinaldocastro.tk/" target="_blank">
                ¡Sitio Web! </a> <br>
              <a href="https://www.instagram.com/reinaldocastro3" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.facebook.com/reinaldocastro3" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/reinaldocastro3" target="_blank">
                <i class="fab fa-twitter"></i>
              </a><br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Tel: 6925083 <br> Cel: 3017295503</p>
              <h5>Correo Electrónico:</h5>
              <p>reinaldocastro3@gmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Calle 139 No. 95b - 18, Bogotá</p>
              <h5>Dirección Artistica:</h5>
              <p>Carrera 90 No. 147 - 44, Bogotá <br> (Casa de la Cultura de Suba)</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 3. Final del Agente Cultural Reinaldo Castro -->

<!-- 4. Agente Cultural Ruido Sonoro -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='AndresJulianAlvarezBernal'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Andres Julian Alvarez Bernal
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/4IDAC.PNG" class="card-img-top"
              alt="ManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Lenguajes Artísticos Interdisciplinares</h6>
               <p>
                La Orquesta del Ruido Sonoro nace como una propuesta interdisciplinar desde la música, el teatro
                gestual, clown y circo, diseñada para niñ@s y familias de nuestra ciudad.

                Este encuentro artístico pretende acercar a los participantes a un ejercicio con el ruido, ritmo,
                composición y acompañamiento de diferentes géneros musicales, que
                van desde la música gitana (gipsy) y sus diversos sonidos de las regiones ROM, hasta ritmos como La
                Cumbia, La Carranga y el funk.
              </p> 
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.facebook.com/ELRUIDOSONORO" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a><br>

            </div>

            <div>
              <h5>Número de contacto:</h5>
              <p>Tel: 8831005</p>
              <p>Cel: 3217558379</p>
              <h5>Dirección:</h5>
              <p>Carrera 110 A No. 143-39</p>
              <h5>Correo Electrónico:</h5>
              <p>orquestaderuidosonoro@gmail.com</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 4. Final del Agente Cultural Ruido Sonoro -->

<!-- 5. Agente Cultural Colectivo Quizaz -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='ColectivoQuizaz'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Colectivo QuiZaZ
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/ColectivoQuiZaZ/ColectivoQuizaz.png" class="card-img-top"
              alt="ManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Lenguajes Artísticos Interdisciplinares</h6>
              <p>
                Somos un colectivo de artistas integrales con amplia trayectoria en proyectos, obras, laboratorios y
                talleres con enfoque social, cultural, pedagógico y artístico.
                A partir del Arte y del Juego, creamos experiencias artísticas, significativas y experimentales desde la
                interdisciplinariedad de los lenguajes artísticos.

                Nuestros espacios potencian el desarrollo del ser humano, así como su imaginación, su creatividad, su
                conocimiento y su pensamiento. Son, además, espacios para el tejido colectivo, para el encuentro con el
                otro y consigo mismo.
                Están dirigidos a niños, niñas, jóvenes y adultos de cualquier edad, desde la gestación y primera
                infancia, hasta el adulto mayor, a todo tipo de persona y/o comunidad que tengan o no tengan afición por
                lo artístico. </p>
            </div>
            <div>
              <!-- <h5>Link de Contacto:</h5>
               <a href="https://www.facebook.com/ELRUIDOSONORO" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a><br> 
              <p>siembrandoarboles@gmail.com</p> -->

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3138663383 / 3044705630</p>
              <h5>Correo Electrónico:</h5>
              <p>siembrandoarboles@gmail.com</p>
              <h5>Dirección </h5>
              <p>Calle 151 #109 A - 54</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 5. Final del Agente Cultural Colectivo Quizaz -->

<!-- 6. Agente Cultural Topas Insurrectas -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='TopasInsurrectas'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topas Insurrectas
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/6IDAC.PNG" class="card-img-top"
              alt="TopasInsurrectas">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Centros y organizaciones comunitarios</h6>
              <p>Somos un colectivo de mujeres que le apunta a crear espacios culturales y pedagógicos en diferentes
                partes de la localidad. Actualmente nos proyectamos a potenciar en las redes sociales, material de
                información y contrainformqcion de las coyunturas sociales y ambientales de la ciudad. Nuestra
                trayectoria se ha guiado en la realización de tomas culturales y artísticas, feria de Autogestion y
                trueque, cineforos y apoyo pedagógico y bibliotecas comunitarias y espacios de educación popular. </p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.facebook.com/topas.insurrectas/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3202165357</p>
              <h5>Correo Electrónico:</h5>
              <p>kammila-141@hotmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Calle 146 C Bis No. 75 D - 11</p>
              <h5>Dirección Artistica:</h5>
              <p>Calle 147 No. 90 - 44</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 6. Final del Agente Cultural Topas Insurrectas -->

<!-- 7. Agente Cultural Lukasiarte -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='Lukasiarte'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lukasiarte
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/7IDAC.PNG" class="card-img-top"
              alt="Lukasiarte">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Artes plásticas, visuales y audiovisuales</h6>
              <p>Pedagogía artística enfocada a la experimentación.</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://vivoelarte.wixsite.com/luckasiarte" target="_blank">
                ¡Sitio Web! </a> <br>
              <a href="https://web.facebook.com/luckas.iarte.1" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Tel: 7508964 <br> Cel: 3024405329</p>
              <h5>Correo Electrónico:</h5>
              <p>artesclase@gmail.com</p>
              <h5>Dirección:</h5>
              <p>Carrera 46 No. 187- 39</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 7. Final del Agente Cultural Lukasiarte -->

<!-- 8. Agente Cultural Huerta Comunitaria Angelita -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='HuertaComunitariaAngelita'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Huerta Comunitaria Angelita
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/8IDAC.PNG" class="card-img-top"
              alt="HuertaComunitariaAngelita">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Centros y organizaciones comunitarios</h6>
              <p>La Huerta Comunitaria Angelita, es una practica pedagogica-politica que se disputa el campo del
                conocimiento y el poder. Un escenario de reflexión frente al modelo de ciudad depredador. Así, caminan
                puestas politicas autonomas en defensa del territorio, las semillas y la vida</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.instagram.com/huertaangelitac/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://web.facebook.com/Huerta-Comunitaria-la-Angelita-109309803828654" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a><br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3154020349</p>
              <h5>Correo Electrónico:</h5>
              <p>huertacomunitariaangelita@gmail.com</p>
              <h5>Dirección</h5>
              <p>Calle 139 #127A</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 8. Final del Agente Cultural Huerta Comunitaria Angelita -->

<!-- 9. Agente Cultural ALEX SKYWALKER -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='ALEXSKYWALKER'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ALEX SKYWALKER
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/9IDAC.PNG" class="card-img-top"
              alt="ALEXSKYWALKER">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Lenguajes Artísticos Interdisciplinares</h6>
              <p>Soy fotógrafo paisajístico y arquitectónico Amateur, dibujante, dando mis primeros pasos en la
                escritura y la música</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.instagram.com/alex_skywalker2783/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a><br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3124940287</p>
              <h5>Correo Electrónico:</h5>
              <p>dj_caggekorner666@msn.com</p>
              <h5>Dirección:</h5>
              <p>Transversal. 138 No.139-28</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 9. Final del Agente Cultural ALEX SKYWALKER -->

<!-- 10. Agente Cultural Federación Uno A -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='FederacionUnoA'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Federación Uno A
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/10IDAC.PNG"
              class="card-img-top" alt="FederacionUnoA">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Poeta</h6>
              <p>Soy Megagestora del Área de Literatura de ésta Federación.</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.sandygaviota.com" target="_blank">
                ¡Sitio Web! </a> <br><br>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Tel: 4604577 <br> Cel: 3107738277 WhatsApp</p>
              <h5>Correo Electrónico:</h5>
              <p>sandygaviota1960@gmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Carrera 122 D No. 129- B 11</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 10. Final del Agente Cultural Federación Uno A -->
