<!-- 1. Modal del centro cultural San Miguel Studio -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='sanMiguelStudios'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SANMIGUEL STUDIOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/SanMiguel/TomasSanmiguelLogo.jpg" class="card-img-top"
              alt="ReinaldoCastro">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Música y Artes Visuales</h6>
              <p> Ubicado en suba, brinda servicios como la composición, grabación, mezcla y producción de diferentes
                géneros urbanos. Entre ellos el rap, trap, reguetón, drill, Air&b, Dembow, etc. Junto con la producción
                visual, hace de la producción un algo íntegro y muy completo. </p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.instagram.com/sanmiguelstudios/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <br><br>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3502157414</p>
              <h5>Correo Electrónico:</h5>
              <p>sanmiguelstudios@gmail.com</p>
              <h5>Dirección:</h5>
              <p>Carrera 147 No. 150 - 26</p>
            </div>
            <!-- <div class="videoCard">
              <h6>Producto o servicio</h6>
              <iframe  src="https://www.youtube.com/embed/2UXikyFocxQ" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
                
            </div> -->
           </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 1. Final del modal del centro cultural San Miguel Studio -->

<!-- 2. Agente Cultural Escuela Popular Mano Abierta -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='EscuelaPopularManoAbierta'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escuela Popular Mano Abierta
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/EscuelaPopularManoAbierta/EscuelaPopularManoAbiertaModificada.jpg"
              class="card-img-top" alt="EscuelaPopularManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Pedagogía, Música y Artes Visuales</h6>
              <p> La Escuela Popular Mano Abierta es una organización popular sin animo de lucro que busca enseñar a los
                jovenes sobre la cultura HIP HOP.
              </p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.facebook.com/Escuelapopularmanoabierta/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <br><br>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3058096419</p>
              <h5>Correo Electrónico:</h5>
              <p>escuelapopularmanoabierta@gmail.com</p>
              <h5>Dirección</h5>
              <p>Carrera 90 No. 135 b - 23<br>(Casa de juventud Diego Felipe Becerra)</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 2. Final del Agente Cultural Escuela Popular Mano Abierta -->

<!-- 3. Agente Cultural Reinaldo Castro -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='ReinaldoCastro'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reinaldo Castro
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/ReinaldoCastro/ReinaldoCastroLogoReinaldoCastroArtista.jpg"
              class="card-img-top" alt="ManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Artes Plásticas Visuales</h6>
              <p>Docente, Productor y Realizador de Arte. A partir de su obra proyecta generar sensibilidad, memoria e
                identidad.</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="http://www.reinaldocastro.tk/" target="_blank">
                ¡Sitio Web! </a> <br>
              <a href="https://www.instagram.com/reinaldocastro3" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.facebook.com/reinaldocastro3" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/reinaldocastro3" target="_blank">
                <i class="fab fa-twitter"></i>
              </a><br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Tel: 6925083 <br> Cel: 3017295503</p>
              <h5>Correo Electrónico:</h5>
              <p>reinaldocastro3@gmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Calle 139 No. 95b - 18, Bogotá</p>
              <h5>Dirección Artistica:</h5>
              <p>Carrera 90 No. 147 - 44, Bogotá <br> (Casa de la Cultura de Suba)</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 3. Final del Agente Cultural Reinaldo Castro -->

<!-- 4. Agente Cultural Ruido Sonoro -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='AndresJulianAlvarezBernal'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Andres Julian Alvarez Bernal
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/4IDAC.PNG" class="card-img-top"
              alt="ManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Lenguajes Artísticos Interdisciplinares</h6>
               <p>
                La Orquesta del Ruido Sonoro nace como una propuesta interdisciplinar desde la música, el teatro
                gestual, clown y circo, diseñada para niñ@s y familias de nuestra ciudad.

                Este encuentro artístico pretende acercar a los participantes a un ejercicio con el ruido, ritmo,
                composición y acompañamiento de diferentes géneros musicales, que
                van desde la música gitana (gipsy) y sus diversos sonidos de las regiones ROM, hasta ritmos como La
                Cumbia, La Carranga y el funk.
              </p> 
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.facebook.com/ELRUIDOSONORO" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a><br>

            </div>

            <div>
              <h5>Número de contacto:</h5>
              <p>Tel: 8831005</p>
              <p>Cel: 3217558379</p>
              <h5>Dirección:</h5>
              <p>Carrera 110 A No. 143-39</p>
              <h5>Correo Electrónico:</h5>
              <p>orquestaderuidosonoro@gmail.com</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 4. Final del Agente Cultural Ruido Sonoro -->

<!-- 5. Agente Cultural Colectivo Quizaz -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='ColectivoQuizaz'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Colectivo QuiZaZ
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/ColectivoQuiZaZ/ColectivoQuizaz.png" class="card-img-top"
              alt="ManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Lenguajes Artísticos Interdisciplinares</h6>
              <p>
                Somos un colectivo de artistas integrales con amplia trayectoria en proyectos, obras, laboratorios y
                talleres con enfoque social, cultural, pedagógico y artístico.
                A partir del Arte y del Juego, creamos experiencias artísticas, significativas y experimentales desde la
                interdisciplinariedad de los lenguajes artísticos.

                Nuestros espacios potencian el desarrollo del ser humano, así como su imaginación, su creatividad, su
                conocimiento y su pensamiento. Son, además, espacios para el tejido colectivo, para el encuentro con el
                otro y consigo mismo.
                Están dirigidos a niños, niñas, jóvenes y adultos de cualquier edad, desde la gestación y primera
                infancia, hasta el adulto mayor, a todo tipo de persona y/o comunidad que tengan o no tengan afición por
                lo artístico. </p>
            </div>
            <div>
              <!-- <h5>Link de Contacto:</h5>
               <a href="https://www.facebook.com/ELRUIDOSONORO" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a><br> 
              <p>siembrandoarboles@gmail.com</p> -->

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3138663383 / 3044705630</p>
              <h5>Correo Electrónico:</h5>
              <p>siembrandoarboles@gmail.com</p>
              <h5>Dirección </h5>
              <p>Calle 151 #109 A - 54</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 5. Final del Agente Cultural Colectivo Quizaz -->

<!-- 6. Agente Cultural Topas Insurrectas -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='TopasInsurrectas'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topas Insurrectas
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/6IDAC.PNG" class="card-img-top"
              alt="TopasInsurrectas">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Centros y organizaciones comunitarios</h6>
              <p>Somos un colectivo de mujeres que le apunta a crear espacios culturales y pedagógicos en diferentes
                partes de la localidad. Actualmente nos proyectamos a potenciar en las redes sociales, material de
                información y contrainformqcion de las coyunturas sociales y ambientales de la ciudad. Nuestra
                trayectoria se ha guiado en la realización de tomas culturales y artísticas, feria de Autogestion y
                trueque, cineforos y apoyo pedagógico y bibliotecas comunitarias y espacios de educación popular. </p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.facebook.com/topas.insurrectas/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3202165357</p>
              <h5>Correo Electrónico:</h5>
              <p>kammila-141@hotmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Calle 146 C Bis No. 75 D - 11</p>
              <h5>Dirección Artistica:</h5>
              <p>Calle 147 No. 90 - 44</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 6. Final del Agente Cultural Topas Insurrectas -->

<!-- 7. Agente Cultural Lukasiarte -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='Lukasiarte'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lukasiarte
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/7IDAC.PNG" class="card-img-top"
              alt="Lukasiarte">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Artes plásticas, visuales y audiovisuales</h6>
              <p>Pedagogía artística enfocada a la experimentación.</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://vivoelarte.wixsite.com/luckasiarte" target="_blank">
                ¡Sitio Web! </a> <br>
              <a href="https://web.facebook.com/luckas.iarte.1" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Tel: 7508964 <br> Cel: 3024405329</p>
              <h5>Correo Electrónico:</h5>
              <p>artesclase@gmail.com</p>
              <h5>Dirección:</h5>
              <p>Carrera 46 No. 187- 39</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 7. Final del Agente Cultural Lukasiarte -->

<!-- 8. Agente Cultural Huerta Comunitaria Angelita -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='HuertaComunitariaAngelita'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Huerta Comunitaria Angelita
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/8IDAC.PNG" class="card-img-top"
              alt="HuertaComunitariaAngelita">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Centros y organizaciones comunitarios</h6>
              <p>La Huerta Comunitaria Angelita, es una practica pedagogica-politica que se disputa el campo del
                conocimiento y el poder. Un escenario de reflexión frente al modelo de ciudad depredador. Así, caminan
                puestas politicas autonomas en defensa del territorio, las semillas y la vida</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.instagram.com/huertaangelitac/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://web.facebook.com/Huerta-Comunitaria-la-Angelita-109309803828654" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a><br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3154020349</p>
              <h5>Correo Electrónico:</h5>
              <p>huertacomunitariaangelita@gmail.com</p>
              <h5>Dirección</h5>
              <p>Calle 139 #127A</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 8. Final del Agente Cultural Huerta Comunitaria Angelita -->

<!-- 9. Agente Cultural ALEX SKYWALKER -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='ALEXSKYWALKER'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ALEX SKYWALKER
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/9IDAC.PNG" class="card-img-top"
              alt="ALEXSKYWALKER">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Lenguajes Artísticos Interdisciplinares</h6>
              <p>Soy fotógrafo paisajístico y arquitectónico Amateur, dibujante, dando mis primeros pasos en la
                escritura y la música</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.instagram.com/alex_skywalker2783/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a><br><br>

            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3124940287</p>
              <h5>Correo Electrónico:</h5>
              <p>dj_caggekorner666@msn.com</p>
              <h5>Dirección:</h5>
              <p>Transversal. 138 No.139-28</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 9. Final del Agente Cultural ALEX SKYWALKER -->

<!-- 10. Agente Cultural Federación Uno A -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='FederacionUnoA'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Federación Uno A
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/10IDAC.PNG"
              class="card-img-top" alt="FederacionUnoA">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Poeta</h6>
              <p>Soy Megagestora del Área de Literatura de ésta Federación.</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              <a href="https://www.sandygaviota.com" target="_blank">
                ¡Sitio Web! </a> <br><br>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Tel: 4604577 <br> Cel: 3107738277 WhatsApp</p>
              <h5>Correo Electrónico:</h5>
              <p>sandygaviota1960@gmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Carrera 122 D No. 129- B 11</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 10. Final del Agente Cultural Federación Uno A -->

<!-- 11. Agente Cultural Oneiros Laboratorio -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='OneirosLaboratorio'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Oneiros Laboratorio
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/11IDAC.PNG"
              class="card-img-top" alt="OneirosLaboratorio">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              
              <p>Oneiros Laboratorio es un grupo artístico interdisciplinar de la localidad de Suba, que se interesa en la creación y experimentación de diversos lenguajes artísticos, enfocados en la creación de contenidos para primera infancia, infancia y otros públicos. </p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              
                <a href="https://www.instagram.com/oneiroslaboratorio/">
                  <i class="fab fa-instagram"></i> 
                </a>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3103097339 <br> Cel: 3223262787</p>
              <h5>Correo Electrónico:</h5>
              <p>viajeaoneiros@gmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>cra 121 # 128 b 21 int 117 apto 602</p>
              <h5>Dirección artística</h5>
              <p>Cra. 90 #147-44  Casa de la Cultura de Suba</p>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 11. Final del Agente Cultural Oneiros Laboratorio -->

<!-- 12. Agente Cultural Tejedores de vida -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='tejedoresDeVida'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tejedores de vida
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/12IDAC.PNG"
              class="card-img-top" alt="tejedoresDeVida">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              
              <p>Agrupación Tejedores de vida reúne varios lenguajes artísticos para la resignificación del territorio y la construcciòn colectiva  </p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              
                <a href="https://www.facebook.com/AgrupacionTejedoresDeVida">
                  <i class="fab fa-facebook"></i> 
                </a>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3194902803 </p>
              <h5>Correo Electrónico:</h5>
              <p>devidatejedores@gmail.com </p>
              <h5>Dirección Administrativa:</h5>
              <p>carrera 121c #129d - 24</p>
              <!-- <h5>Dirección artística</h5>
              <p>Cra. 90 #147-44  Casa de la Cultura de Suba</p> -->

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 12. Final del Agente Cultural Tejedores de vida -->

<!-- 13. Agente Cultural Daniel Arismendi -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='danielArismendi'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Daniel Arismendi
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/danielArismendi/danielArismendi.jpeg"
              class="card-img-top" alt="Daniel Arismendi">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              
              <p>Fotos</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              
                <a href="https://www.instagram.com/daab36/"  target="_blank">
                  <!-- <i class="fab fa-facebook"></i>  -->
                  <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 3115589794 </p>
              <h5>Correo Electrónico:</h5>
              <p>dab36@gmail.com </p>
              <h5>Dirección Administrativa:</h5>
              <p>Cra 103CBis # 139 - 43</p>
              <h5>Dirección artística</h5>
              <p>Virtualidad </p>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 13. Final del Agente Cultural Daniel Arismendi -->

<!-- 14. Agente Cultural Fundación Actitud Colombia -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='fundacionActitudColombia'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fundación Actitud Colombia
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/14IDAC.PNG"
              class="card-img-top" alt="fundacionActitudColombia">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              
              <p>Varios</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              
                <a href="https://www.facebook.com/ActitudColombia"  target="_blank">
                  <i class="fab fa-facebook"></i> 
                  <!-- <i class="fab fa-instagram"></i> -->
                </a>
            </div>
            <div>
              <!-- <h5>Número de contacto:</h5>
              <p>Cel: 3115589794 </p> -->
              <h5>Correo Electrónico:</h5>
              <p>actitudfundacion@gmail.com </p>
              <h5>Dirección Administrativa:</h5>
              <p>Calle 150 No. 92-20</p>
              <!-- <h5>Dirección artística</h5>
              <p>Virtualidad </p> -->

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 14. Final del Agente Cultural Fundación Actitud Colombia -->

<!-- 15. Agente Cultural Biblioteca comunitaria El fuerte del viejo topo -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='BibliotecaComunitariaElFuerteDelViejoTopo'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Biblioteca comunitaria El fuerte del viejo topo
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/15IDAC.PNG"
              class="card-img-top" alt="BibliotecaComunitariaElFuerteDelViejoTopo">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <!-- Descripción del agente cultural -->
              <p>Somos una biblioteca comunitaria ubicada en Aures I, desde donde promovemos la lectura y escritura, buscando potenciar los ejercicios creativos; de la misma forma impulsamos a través de procesos educativos, artísticos y culturales la construcción de comunidad, la participación y la defensa del territorio.</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              
                <a href="https://www.facebook.com/elfuertedelviejotopo"  target="_blank">
                  <i class="fab fa-facebook"></i> 
                </a>

                <!-- <a href="https://www.instagram.com/bibliotecaelviejotopo/"  target="_blank">
                  <i class="fab fa-instagram"></i>
                </a> -->
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 314 3273 266 </p>
              <p>Cel: 317 3122 814</p>
              <h5>Correo Electrónico:</h5>
              <p>bibliotecaviejotopo@gmail.com </p>
              <h5>Dirección Administrativa:</h5>
              <p>Calle 131a #100 24</p>
              <!-- <h5>Dirección artística</h5>
              <p>Virtualidad </p> -->

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 15. Final del Agente Cultural Biblioteca comunitaria El fuerte del viejo topo -->

<!-- 16. Agente Cultural Configurarte -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='Configurarte'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ConfigurArte
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/16IDAC.PNG"
              class="card-img-top" alt="Configurarte">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <!-- Descripción del agente cultural -->
              <p>"ConfigurArte es una agrupación en donde se fusionan varios lenguajes artísticos, para generar procesos artísticos y culturales con diferentes grupos etarios (primera infancia, infancia, adulto mayor). 

"</p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              
                <a href="https://web.facebook.com/ConfigurArte"  target="_blank">
                  <i class="fab fa-facebook"></i> 
                </a>

                <!-- <a href="https://www.instagram.com/bibliotecaelviejotopo/"  target="_blank">
                  <i class="fab fa-instagram"></i>
                </a> -->
            </div>
            <div>
              <!-- <h5>Número de contacto:</h5>
              <p>Cel: 314 3273 266 </p>
              <p>Cel: 317 3122 814</p> -->
              <h5>Correo Electrónico:</h5>
              <p>configurarte1227@gmail.com  </p>
              <h5>Dirección Administrativa:</h5>
              <p>Calle 151 #109 A - 52</p>
              <!-- <h5>Dirección artística</h5>
              <p>Virtualidad </p> -->

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 16. Final del Agente Cultural Configurarte -->

<!-- 17. Agente Cultural Agrupación Expresiones -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='AgrupacionExpresiones'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ConfigurArte
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/17IDAC.PNG"
              class="card-img-top" alt="AgrupacionExpresiones">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <!-- Descripción del agente cultural -->
              <p>La agrupación EXPRESIONES, es un grupo de artistas y gestores culturales de diferentes áreas cuyo objetivo es contribuir a través de estrategias didácticas, iniciativas e intervenciones sociales que enriquezcan y favorezcan el contexto de la comunidad en general, a través de metodologías y acciones que promuevan una sana convivencia, la apropiación de las artes y resolución de conflictos. </p>
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              
                <a href="https://web.facebook.com/AgrupacionExpresiones"  target="_blank">
                  <i class="fab fa-facebook"></i> 
                </a>

                <!-- <a href="https://www.instagram.com/bibliotecaelviejotopo/"  target="_blank">
                  <i class="fab fa-instagram"></i>
                </a> -->
            </div>
            <div>
              <!-- <h5>Número de contacto:</h5>
              <p>Cel: 314 3273 266 </p>
              <p>Cel: 317 3122 814</p> -->
              <h5>Correo Electrónico:</h5>
              <p>agrupacionexpresiones@gmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Carrera 102 #155-50</p>
              <!-- <h5>Dirección artística</h5>
              <p>Virtualidad </p> -->

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 17. Final del Agente Cultural Agrupación Expresiones -->

<!-- 18. Agente Cultural Mesa local de artistas plásticos y visuales de Suba -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='mesaLocalArtistas'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Mesa local de artistas plásticos y visuales de Suba
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/18IDAC.PNG"
              class="card-img-top" alt="mesaLocalArtistas">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <!-- Descripción del agente cultural -->
              <!-- <p>La agrupación EXPRESIONES, es un grupo de artistas y gestores culturales de diferentes áreas cuyo objetivo es contribuir a través de estrategias didácticas, iniciativas e intervenciones sociales que enriquezcan y favorezcan el contexto de la comunidad en general, a través de metodologías y acciones que promuevan una sana convivencia, la apropiación de las artes y resolución de conflictos. </p> -->
            </div>
            <div>
              <h5>Link de Contacto:</h5>
              
                <a href="https://m.facebook.com/profile.php?id=110956637444984&ref=content_filter"  target="_blank">
                  <i class="fab fa-facebook"></i> 
                </a>

                <!-- <a href="https://www.instagram.com/bibliotecaelviejotopo/"  target="_blank">
                  <i class="fab fa-instagram"></i>
                </a> -->
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Tel: 4732474 </p>
              <p>Cel: 321 435 0626</p>
              <h5>Correo Electrónico:</h5>
              <p>caro.p.cuellar@gmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Cra 90 a la 91 entre calle 146 C bis y 147</p>
              <h5>Dirección artística</h5>
              <p>Plaza fundacional de Suba</p>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 18. Final del Agente Cultural Mesa local de artistas plásticos y visuales de Suba -->

<!-- 19. Agente Cultural Daniel Poveda -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='danielPoveda'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Daniel Poveda
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/19IDAC.PNG"
              class="card-img-top" alt="danielPoveda">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <!-- Descripción del agente cultural -->
              <p>Artista plástico con maestro en Arte en espacio público y procesos comunitarios.</p>
            </div>
            <div>
               <h5>Link de Contacto:</h5>
              
                <!--<a href="https://m.facebook.com/profile.php?id=110956637444984&ref=content_filter"  target="_blank">
                  <i class="fab fa-facebook"></i> 
                </a> -->

                <a href="https://www.instagram.com/dan_poveda/"  target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div>
              <!-- <h5>Número de contacto:</h5>
              <p>Tel: 4732474 </p>
              <p>Cel: 321 435 0626</p> -->
              <h5>Correo Electrónico:</h5>
              <p>danielpovedav@gamail.com </p>
              <h5>Dirección Administrativa:</h5>
              <p>Calle 136 #94-09</p>
              <!-- <h5>Dirección artística</h5>
              <p>Plaza fundacional de Suba</p> -->

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 19. Final del Agente Cultural Daniel Poveda -->

<!-- 20. Agente Cultural Colectivo Suba Nativa -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='ColectivoSubaNativa'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Colectivo Suba Nativa
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/20IDAC.PNG"
              class="card-img-top" alt="danielPoveda">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <!-- Descripción del agente cultural -->
              <p>El colectivo Suba Nativa es una organización comunitaria sin animo de lucro que ha tenido presencia en la localidad hace más de 10 años, integrada por mujeres y hombres que desde la educación popular promovemos procesos de participación ciudadana, educación ambiental, memoria, paz, apropiación y defensa del territorio.</p>
            </div>
            <div>
               <h5>Link de Contacto:</h5>
              
                <a href="https://www.facebook.com/colectivosuba.nativa.9"  target="_blank">
                  <i class="fab fa-facebook"></i> 
                </a>
<!-- 
                <a href="https://www.instagram.com/dan_poveda/"  target="_blank">
                  <i class="fab fa-instagram"></i>
                </a> -->
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 350 817 9198 </p>
              <p>Cel: 320 476 5407</p>
              <h5>Correo Electrónico:</h5>
              <p>colectivosubanativa@gmail.com </p>
              <h5>Dirección Administrativa:</h5>
              <p>Calle 131a #100 24 </p>
              <!-- <h5>Dirección artística</h5>
              <p>Plaza fundacional de Suba</p> -->

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 20. Final del Agente Cultural Colectivo Suba Nativa -->

<!-- 21. Agente Cultural Dj peace makah  -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='Djpeacemakah'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Dj peace makah 
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/21IDAC.PNG"
              class="card-img-top" alt="Djpeacemakah">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <!-- Descripción del agente cultural -->
              <p>Promotor y creador musical </p>
            </div>
            <div>
               <h5>Link de Contacto:</h5>
              
                <!-- <a href="https://www.facebook.com/colectivosuba.nativa.9"  target="_blank">
                  <i class="fab fa-facebook"></i> 
                </a> -->

                <a href="https://www.instagram.com/projectpeacemaker"  target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 317 384 1237 </p>
              <h5>Correo Electrónico:</h5>
              <p>Dharmahammer@icloud.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Cll 133#58-58</p>
              <!-- <h5>Dirección artística</h5>
              <p>Plaza fundacional de Suba</p> -->

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 21. Final del Agente Cultural Dj peace makah  -->

<!-- 22. Agente Cultural Colectivo In Situ  -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='ColectivoInSitu'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Colectivo In Situ 
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/22IDAC.PNG"
              class="card-img-top" alt="Djpeacemakah">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <!-- Descripción del agente cultural -->
              <p>Colectivo desde la localidad de Suba que trabaja en diferentes lenguajes artísticos con y para la comunidad. </p>
            </div>
            <div>
               <h5>Link de Contacto:</h5>
              
                <a href="https://www.facebook.com/ColectivoINSITU"  target="_blank">
                  <i class="fab fa-facebook"></i> 
                </a>

                <!-- <a href="https://www.instagram.com/projectpeacemaker"  target="_blank">
                  <i class="fab fa-instagram"></i>
                </a> -->
            </div>
            <div>
              <h5>Número de contacto:</h5>
              <p>Cel: 312 587 7909</p>
              <h5>Correo Electrónico:</h5>
              <p>colectivoinsitu@gmail.com</p>
              <h5>Dirección Administrativa:</h5>
              <p>Carrera 102 #155-50 </p>
              <!-- <h5>Dirección artística</h5>
              <p>Plaza fundacional de Suba</p> -->

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- 22. Final del Agente Cultural Colectivo In Situ  -->