<!-- Modal del centro cultural San Miguel Studio -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='sanMiguelStudios'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">San Miguel Studio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#centrosCulturales">
            <img src="../../../assets/images/agentesCulturales/SanMiguel/TomasSanmiguelLogo.jpg" class="card-img-top"
              alt="ReinaldoCastro">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h5>Descripción</h5>
              <p> Ubicado en suba, brinda servicios como la composición, grabación, mezcla y producción de diferentes
                géneros urbanos. Entre ellos el rap, trap, regueton, drill, Air&b, Dembow, etc. Junto con la producción
                visual, hace de la producción un algo integro y muy completo. </p>
            </div>
            <div>
              <h5>Link de Contacto</h5>
              <a href="www.instagram.com/sanmiguelstudios/">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
            <div>
              <h5>Dirección</h5>
              <p>KRA 147 NO 150 - 26 ETAPA </p>
            </div>
            <div class="videoCard">
              <h6>Producto o servicio</h6>
              <iframe src="https://www.youtube.com/embed/2UXikyFocxQ" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Final del modal del centro cultural San Miguel Studio -->

<!-- Agente Cultural 2 -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='EscuelaPopularManoAbierta'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escuela Popular Mano Abierta
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/MANOABIERTACOMPANYSTUDIOS07EscuelaPopularManoAbierta/MANOABIERTACOMPANYSTUDIOS07EscuelaPopularManoAbierta.png"
              class="card-img-top" alt="ManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h5>Descripción</h5>
              <p> El componente de producción musical se establece bajo el nombre de SUBA JOVEN el cual es el medio
                audiovisual de la escuela popular mano abierta, brindando los servicios de grabación mezcla y master de
                canciones, creaccion de beats o instrumentales. </p>
            </div>
            <div>
              <h5>Link de Contacto</h5>
              <a href="#">
                escuelapopularmanoabierta@gmail.com
              </a>
              <br>

              <a href="https://www.facebook.com/Escuelapopularmanoabierta/">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
            <div>
              <h5>Número de contacto</h5>
              <p>Cel: 305 809 6419</p>
              <h5>Dirección</h5>
              Carrera 90 # 135 b 23 (Casa de juventud Diego Felipe Becerra)
            </div>
            <div>
              <a href="#">Producto o servicio</a>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Final del Agente Cultural 2 -->

<!-- Agente Cultural Reinaldo Castro -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='ReinaldoCastro'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reinaldo Castro
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/ReinaldoCastro/ReinaldoCastroLogoReinaldoCastroArtista.jpg"
              class="card-img-top" alt="ManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h5>Descripción</h5>
              <p> El componente de producción musical se establece bajo el nombre de SUBA JOVEN el cual es el medio
                audiovisual de la escuela popular mano abierta, brindando los servicios de grabación mezcla y master de
                canciones, creaccion de beats o instrumentales. </p>
            </div>
            <div>
              <h5>Link de Contacto</h5>
              <a href="www.reinaldocastro.tk">
                ¡Mi sitio web! </a> <br>
              <a href="ttps://reinaldocastro.wixsite.com/reinaldocastro">¡Mi sitio web! (Segundo)</a><br>
              <a href="https://www.instagram.com/reinaldocastro3">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="www.facebook.com/reinaldocastro3">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/reinaldocastro3">
                <i class="fab fa-twitter"></i>
              </a><br>
              <a href="#">reinaldocastro3@gmail.com</a>

            </div>
            <div>
              <h5>Número de contacto</h5>
              <p>Tel: 6925083</p>
              <p>Cel: 301 729 5503</p>
              <h5>Dirección Administrativa</h5>
              <p>Cl. 139 #95b-18, Bogotá</p>
              <h5>Dirección Artistica</h5>
              <p>Cra. 90 ##147-44, Bogotá (Casa de la Cultura de Suba)</p>
            </div>
            <div>
              <a href="#">Producto o servicio</a>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Final del Agente Cultural Reinaldo Castro -->

<!-- Agente Cultural Reinaldo Castro -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id='AndresJulianAlvarezBernal'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Andres Julian Alvarez Bernal
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/TARJETARUIDOSONOROJulianAlvarez/TARJETARUIDOSONOROJulianAlvarez-0.png"
              class="card-img-top" alt="ManoAbierta">
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h5>Descripción</h5>
              <p>
                la orquesta del ruido sonoro nace como una propuesta interdisciplinar desde la música, el teatro
                gestual, clown y circo, diseñada para niñ@s y familias de nuestra ciudad.

                Este Encuentro artístico pretende acercar a los participantes a un ejercicio con el rui do, ritmo,
                composición y acompañamiento de diferentes géneros musicales, que
                van desde la música gitana (gipsy) y sus diversos sonidos de las regiones ROM, hasta ritmos como La
                Cumbia, La Carranga y el funk </p>
            </div>
            <div>
              <h5>Link de Contacto</h5>

              <a href="https://www.facebook.com/ELRUIDOSONORO">
                <i class="fab fa-facebook-f"></i>
              </a><br>

              <a href="#">orquestaderuidosonoro@gmail.com</a>

            </div>
            <div>
              <h5>Número de contacto</h5>
              <p>Tel: 8831005</p>
              <p>Cel: 321 755 8379</p>
              <h5>Dirección Administrativa</h5>
              <p>Carrera 110 a #143-39</p>
              <h5>Dirección Artistica</h5>
              <p>Carrera 110 a #143-39</p>
            </div>
            <div>
              <a href="#">Producto o servicio</a>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Final del Agente Cultural Reinaldo Castro -->
