@font-face {
  font-family: 'Lato';
  src: url('./assets/fontFamilyIrculturapp/Lato/Lato-Regular.ttf');
}

body {
  background-color: #FFF4DE;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lato';
}
