<!-- 1. Modal del centro cultural Escuela Popular Mano Abierta 
 -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="sanMiguelStudio"
  aria-hidden="true"
  id="EscuelaPopularManoAbiertaInvertiCultura"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Escuela Popular Mano Abierta
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/2IDAC.PNG"
              class="card-img-top"
              alt="Escuela Popular Mano Abierta 
"
            />
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Producción Musical</h6>
              <p>
                El componente de producción musical se establece bajo el nombre
                de SUBA JOVEN, el cual es el medio audiovisual de la Escuela
                Popular Mano Abierta, brindando los servicios de grabación
                mezcla y master de canciones, creación de beats o
                instrumentales.
              </p>
            </div>
            <div>
              <h6>Producción Visual</h6>
              <p>
                El componente de producción visual toma como nombre MANO ABIERRA
                COMPANY THE STUDIOS, el cual permite acceder a buen costo, video
                clips, cortometrajes, documentales.
              </p>
            </div>
            <div>
              <h6>Pedagogía</h6>
              <p>
                El componente de PEDAGOGÍA es mas presencial porque consta de
                talleres de rap para los jóvenes, integrando actividades de
                puesta en escena, composición musical, marcación de compases,
                improvisación.
              </p>
            </div>
            <div>
              <h6>Contacto</h6>
              <p>3058096419</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 1. Final del modal del centro cultural San Miguel Studio -->

<!-- 2. Modal del centro cultural Reinaldo Castro -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Reinaldo Castro"
  aria-hidden="true"
  id="ReinaldoCastroInvertiCultura"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ReinaldoCastro">
          Reinaldo Castro
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/3IDAC.PNG"
              class="card-img-top"
              alt="ReinaldoCastro"
            />
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Realización de Obras de Arte Originales y de Exposiciones de Arte</h6>
              <p>
                Producción de imágenes de arte contemporáneo, desde la pintura, escultura y dibujo. Realización de exposiciones de arte.
              </p>
            </div>
            <div>
              <h6>Formación en Escultura, Pintura y Dibujo</h6>
              <p>
                Talleres artísticos de escultura, pintura y dibujo, de forma presencial y virtual.  Fortalecimiento de habilidades artísticas y acercamiento a las artes.
              </p>
            </div>
            <div>
              <h6>Producción de Proyectos Artísticos enfocados al Desarrollo Humano</h6>
              <p>
                Se aborda el arte como estrega de crecimiento personal y fortalecimiento de las dimensiones del desarrollo humano.
              </p>
            </div>
            <div>
              <h6>Contacto</h6>
              <p>reinaldocastro3@gmail.com</p>
              <p>3017295503</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 2. Final del modal del centro cultural Reinaldo Castro -->


<!-- 6. Modal del centro cultural Topas Insurrectas -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Reinaldo Castro"
  aria-hidden="true"
  id="TopasInsurrectasInvertiCultura"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ReinaldoCastro">
          Topas Insurrectas 
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/6IDAC.PNG"
              class="card-img-top"
              alt="Topas Insurrectas "
            />
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Festivales y Tomas Culturales</h6>
              <p>
                Espacio de presentación artística y cultural, en donde se recauda fondos con un fin específico. Ferias de economía popular que potencia los proyectos de Autogestión y Trueque. 
              </p>
            </div>
            <!-- <div>
              <h6>Formación en Escultura, Pintura y Dibujo</h6>
              <p>
                Talleres artísticos de escultura, pintura y dibujo, de forma presencial y virtual.  Fortalecimiento de habilidades artísticas y acercamiento a las artes.
              </p>
            </div> -->
            <!-- <div>
              <h6>Producción de Proyectos Artísticos enfocados al Desarrollo Humano</h6>
              <p>
                Se aborda el arte como estrega de crecimiento personal y fortalecimiento de las dimensiones del desarrollo humano.
              </p>
            </div> -->
            <div>
              <h6>Contacto</h6>
              <p>Kammila-141@hotmail.com</p>
              <p>3202165357</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 6. Final del modal del centro cultural Topas Insurrectas-->

<!-- 7. Modal del centro cultural lukasiarte -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="lukasiarte"
  aria-hidden="true"
  id="lukasiarteInvertiCultura"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lukasiarte">
          lukasiarte
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/7IDAC.PNG"
              class="card-img-top"
              alt="lukasiarte "
            />
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Clases</h6>
              <p>
                Clases Artísticas de Pintura, Dibujo, Fotografía. 
              </p>
            </div>
            <!-- <div>
              <h6>Formación en Escultura, Pintura y Dibujo</h6>
              <p>
                Talleres artísticos de escultura, pintura y dibujo, de forma presencial y virtual.  Fortalecimiento de habilidades artísticas y acercamiento a las artes.
              </p>
            </div> -->
            <!-- <div>
              <h6>Producción de Proyectos Artísticos enfocados al Desarrollo Humano</h6>
              <p>
                Se aborda el arte como estrega de crecimiento personal y fortalecimiento de las dimensiones del desarrollo humano.
              </p>
            </div> -->
            <div>
              <h6>Contacto</h6>
              <p>artesclase@gmail.com</p>
              <p>3024405329</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 7. Final del modal del centro cultural lukasiarte-->

<!-- 8. Modal del centro cultural Huerta Comunitaria Angelita -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="lukasiarte"
  aria-hidden="true"
  id="HuertaComunitariaAngelitaInvertiCultura"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Huerta Comunitaria Angelita
">
          Huerta Comunitaria Angelita

        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/8IDAC.PNG"
              class="card-img-top"
              alt="lukasiarte "
            />
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Abono Orgánico</h6>
              <p>
                Abono orgánico fermentado tipo bocashi.
              </p>
            </div>
            <div>
              <p>
               Abono Bocashi ingredientes: cal agricola, carbon vegetal, gallinaza, cascarilla de arroz, melaza, tierra cernida, levadura, salvado de trigo
              </p>
              <p>
                Escuelas de Formación y Ejercicios Prácticos
              </p>
                        </div>
            <!-- <div>
              <h6>Producción de Proyectos Artísticos enfocados al Desarrollo Humano</h6>
              <p>
                Se aborda el arte como estrega de crecimiento personal y fortalecimiento de las dimensiones del desarrollo humano.
              </p>
            </div> -->
            <div>
              <h6>Contacto</h6>
              <p>huertacomunitariaangelita@gmail.com</p>
              <p>3154020349</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 8. Final del modal del centro cultural Huerta Comunitaria Angelita -->

<!-- 9. Modal del centro cultural ALEX SKYWALKER -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ALEXSKYWALKER"
  aria-hidden="true"
  id="ALEXSKYWALKERInvertiCultura"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ALEX SKYWALKER">
          ALEX SKYWALKER

        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/9IDAC.PNG"
              class="card-img-top"
              alt="ALEX SKYWALKER"
            />
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>TRIBAL HEARTS</h6>
              <p>
                Obras de arte originalmente propias y propiamente originales.
              </p>
            </div>
            <!-- <div>
              <p>
               Abono Bocashi ingredientes: cal agricola, carbon vegetal, gallinaza, cascarilla de arroz, melaza, tierra cernida, levadura, salvado de trigo
              </p>
              <p>
                Escuelas de Formación y Ejercicios Prácticos
              </p>
                        </div> -->
            <!-- <div>
              <h6>Producción de Proyectos Artísticos enfocados al Desarrollo Humano</h6>
              <p>
                Se aborda el arte como estrega de crecimiento personal y fortalecimiento de las dimensiones del desarrollo humano.
              </p>
            </div> -->
            <div>
              <h6>Contacto</h6>
              <p>dj_caggekorner666@msn.com</p>
              <p>3124940287</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 9. Final del modal del centro cultural ALEX SKYWALKER -->