<!-- 10. Agente Cultural Federación Uno A -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  id="mediosComunicacion"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Escuela Popular Mano Abierta
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Producción Musical</h6>
              <p>
                El componente de producción musical se establece bajo el nombre
                de SUBA JOVEN, el cual es el medio audiovisual de la Escuela
                Popular Mano Abierta, brindando los servicios de grabación
                mezcla y master de canciones, creación de beats o
                instrumentales.
              </p>
            </div>
            <div>
              <h5>Producción Visual</h5>
              <p>
                El componente de producción visual toma como nombre MANO ABIERRA
                COMPANY THE STUDIOS, el cual permite acceder a buen costo, video
                clips, cortometrajes, documentales.
              </p>
            </div>
            <div>
              <h5>Pedagogía</h5>
              <p>
                El componente de PEDAGOGÍA es mas presencial porque consta de
                talleres de rap para los jóvenes, integrando actividades de
                puesta en escena, composición musical, marcación de compases,
                improvisación
              </p>
            </div>
            <div>
              <h5>Contacto:</h5>
              <p>3058096419</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 10. Final del Agente Cultural Federación Uno A -->

<!-- 11. Agente Cultural Oneiros Laboratorio -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  id="OneirosLaboratorioProducto"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Oneiros Laboratorio</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/OneirosLaboratorio/productoOneirosLaboratorio.jpg"
              class="card-img-top"
              alt="OneirosLaboratorio"
            />
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <p>
                "Viaje a Oneiros es una obra de teatro de títeres para público
                familiar. A continuación adjuntamos la sinopsis: A los hermanos
                Nico y Lily los une algo muy especial... ¡les encanta soñar! Una
                noche de ensueño ambos reciben un llamado hecho por Ño-seu,
                guardián de Oneiros, el misterioso mundo de los sueños. Ellos le
                cuentan a su abuelo, quien para animarlos en su aventura les
                regala un libro mágico que los ayuda a llegar a Oneiros.  Allí,
                Ño-Seu les pide ayuda para llevar a cabo una valiosa misión:
                encontrar la flor azul que da luz y vida a los sueños de la
                humanidad. Nico y Lily aceptan el reto y se embarcan en una
                aventura en la que se enfrentarán a sus propios miedos, harán
                nuevos amigos y descubrirán sus sueños. ¡Acompáñanos en este
                viaje y ayúdanos a encontrar la flor azul!"
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 11. Final del Agente Cultural Oneiros Laboratorio -->
