<!-- 1. Modal del centro cultural Escuela Popular Mano Abierta 
 -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="sanMiguelStudio"
  aria-hidden="true"
  id="EscuelaPopularManoAbiertaInvertiCultura"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Escuela Popular Mano Abierta
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/2IDAC.PNG"
              class="card-img-top"
              alt="Escuela Popular Mano Abierta 
"
            />
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Producción Musical</h6>
              <p>
                El componente de producción musical se establece bajo el nombre
                de SUBA JOVEN, el cual es el medio audiovisual de la Escuela
                Popular Mano Abierta, brindando los servicios de grabación
                mezcla y master de canciones, creación de beats o
                instrumentales.
              </p>
            </div>
            <div>
              <h6>Producción Visual</h6>
              <p>
                El componente de producción visual toma como nombre MANO ABIERRA
                COMPANY THE STUDIOS, el cual permite acceder a buen costo, video
                clips, cortometrajes, documentales.
              </p>
            </div>
            <div>
              <h6>Pedagogía</h6>
              <p>
                El componente de PEDAGOGÍA es mas presencial porque consta de
                talleres de rap para los jóvenes, integrando actividades de
                puesta en escena, composición musical, marcación de compases,
                improvisación.
              </p>
            </div>
            <div>
              <h6>Contacto</h6>
              <p>3058096419</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 1. Final del modal del centro cultural San Miguel Studio -->

<!-- 2. Modal del centro cultural Reinaldo Castro -->
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Reinaldo Castro"
  aria-hidden="true"
  id="ReinaldoCastroInvertiCultura"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ReinaldoCastro">
          Reinaldo Castro
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <a href="#">
            <img
              src="../../../assets/images/agentesCulturales/DetalleAgentesCulturales/3IDAC.PNG"
              class="card-img-top"
              alt="ReinaldoCastro"
            />
          </a>

          <div class="card-body d-flex justify-content-between flex-column">
            <div>
              <h6>Realización de Obras de Arte Originales y de Exposiciones de Arte</h6>
              <p>
                Producción de imágenes de arte contemporáneo, desde la pintura, escultura y dibujo. Realización de exposiciones de arte.
              </p>
            </div>
            <div>
              <h6>Formación en Escultura, Pintura y Dibujo</h6>
              <p>
                Talleres artísticos de escultura, pintura y dibujo, de forma presencial y virtual.  Fortalecimiento de habilidades artísticas y acercamiento a las artes.
              </p>
            </div>
            <div>
              <h6>Producción de Proyectos Artísticos enfocados al Desarrollo Humano</h6>
              <p>
                Se aborda el arte como estrega de crecimiento personal y fortalecimiento de las dimensiones del desarrollo humano.
              </p>
            </div>
            <div>
              <h6>Contacto</h6>
              <p>reinaldocastro3@gmail.com</p>
              <p>3017295503</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 2. Final del modal del centro cultural Reinaldo Castro -->
